.helium.light.cobalt {
  /* Basic */
  --primary-color: #0055A6;
  --primary-color_rgb: 0, 85, 166;

  /* Common */
  --primary-color-shade-1: #004C95;
  --primary-color-shade-2: #004484;
  --primary-dim-color: #C6D1EC;

  /* Button */
  --button-primary-focused-border-color: #C6D1EC;
}

.helium.light.sky {
  /* Basic */
  --primary-color: #25CDE3;
  --primary-color_rgb: 37, 205, 227;
  --secondary-color: #4E4A75;
  --secondary-color_rgb: 78, 74, 117;
  --error-color: #FC2346;
  --success-color: #22D685;
  --warning-color: #FDB42B;
  --border-color: #625E89;

  /* Common */
  --primary-color-shade-1: #1AB9CB;
  --primary-color-shade-2: #17A5B5;
  --primary-dim-color: #61DDEA;
  --secondary-color-shade-1: #454267;
  --secondary-color-shade-2: #3C3A5A;
  --secondary-dim-color: #7773A5;
  --error-color-shade-1: #FB042D;
  --error-color-shade-2: #DD0328;
  --error-dim-color: #FD637D;
  --success-color-shade-1: #1FBD76;
  --success-color-shade-2: #1BA768;
  --success-dim-color: #5DE5A7;
  --warning-contrast-text-color: #454267;
}

.helium.light.minty {
  /* Basic */
  --primary-color: #78C2AD;
  --primary-color_rgb: 120, 194, 173;
  --secondary-color: #6CC3D5;
  --secondary-color_rgb: 108, 195, 213;
  --error-color: #F3969A;
  --success-color: #56CC9D;
  --warning-color: #FFCE67;
  --border-color: #6EB8A3;

  /* Common */
  --primary-color-shade-1: #5EB59B;
  --primary-color-shade-2: #4DA88D;
  --primary-dim-color: #9DD2C2;
  --secondary-color-shade-1: #4DB6CB;
  --secondary-color-shade-2: #38ABC2;
  --secondary-dim-color: #94D3E0;
  --error-color-shade-1: #EE7278;
  --error-color-shade-2: #EA4D55;
  --error-dim-color: #F6B1B5;
  --success-color-shade-1: #3CC38D;
  --success-color-shade-2: #35AC7C;
  --success-dim-color: #86DAB8;
  --warning-contrast-text-color: #FFFFFF;
}

.helium.dark.cyborg {
  /* Basic */
  --primary-color: #2A9FD6;
  --primary-color_rgb: 42, 159, 214;
  --secondary-color: #555555;
  --secondary-color_rgb: 85, 85, 85;
  --error-color: #CC0000;
  --success-color: #77B300;
  --warning-color: #FF8800;
  --text-main-color: #FFFFFF;

  /* Common */
  --primary-color-shade-1: #268FC0;
  --primary-color-shade-2: #227FAA;
  --primary-dim-color: #1D6F95;
  --secondary-color-shade-1: #4A4A4A;
  --secondary-color-shade-2: #424242;
  --secondary-dim-color: #878787;
  --error-color-shade-1: #B80000;
  --error-color-shade-2: #A30000;
  --error-dim-color: #FF2929;
  --success-color-shade-1: #699E00;
  --success-color-shade-2: #5F8F00;
  --success-dim-color: #B1FF14;
  --warning-contrast-text-color: #FFFFFF;                                       // (--text-contrast-color)

  /* Button */
  --button-default-active-color: #7A29A3;
  --button-default-color: #9933CC;
  --button-default-disabled-color: #6B248F;
  --button-default-hover-color: #8A2EB8;
  --button-secondary-active-color: #424242;
  --button-secondary-color: #555555;                                            // (--secondary-color)
  --button-secondary-disabled-color: #3B3B3B;
  --button-secondary-disabled-text-color: #FFFFFF;
  --button-secondary-focused-border-color: #555555;
  --button-secondary-hover-color: #4A4A4A;
  --button-secondary-text-color: #FFFFFF;
  --button-error-disabled-color: #8F0000;
  --button-success-disabled-color: #527A00;

  /* CheckBox */
  --checkbox-border-color: #646464;

  /* SideMenu */
  --sidemenu-collapsible-controls-panel-background-color: #1D6F95;              // (--primary-dim-color)
  --sidemenu-collapsible-collapse-button-background-color: #268FC0;             // (--primary-color-shade-1)
  --sidemenu-collapsible-collapse-button-hover-background-color: #1D6F95;       // (--primary-dim-color)
  --sidemenu-collapsible-collapse-button-active-background-color: #227FAA;      // (--primary-color-shade-2)
  --sidemenu-collapsible-collapse-button-color: #FFFFFF;                        // (--text-main-color)
  --sidemenu-title-background-color: #2A9FD6;                                   // (--primary-color)
}

.helium.dark.night {
  /* Basic */
  --secondary-color: #F2F2F2;
  --secondary-color_rgb: 242, 242, 242;

  /* Common */
  --error-dim-color: #F80026;
  --primary-dim-color: #473692;
  --success-dim-color: #257759;

  --secondary-contrast-text-color: #4F5C78;
  --secondary-color-shade-1: #D6D6D6;
  --secondary-color-shade-2: #BFBFBF;
  --secondary-dim-color: transparent;

  /* Button */
  --button-default-disabled-color: #455169;
  --button-error-disabled-color: #F80026;                                       // (--error-dim-color)
  --button-primary-disabled-color: #473692;                                     // (--primary-dim-color)
  --button-success-disabled-color: #257759;                                     // (--success-dim-color)

  --button-secondary-color: #F2F2F2;                                            // (--secondary-color)
  --button-secondary-active-color: #BFBFBF;
  --button-secondary-disabled-color: transparent;
  --button-secondary-focused-border-color: #F2F2F2;
  --button-secondary-hover-color: #D6D6D6;

  /* CheckBox */
  --checkbox-border-color: #646464;                                             // (--border-dim-color)

  /* RichTextArea */
  --richtextarea-textarea-background-color: #F2F2F2;                            // (--secondary-color)

  /* SideMenu */
  --sidemenu-collapsible-controls-panel-background-color: #646464;              // (--dim-color)
  --sidemenu-collapsible-collapse-button-background-color: #5A5A5A;             // (--dim-color-shade-1)
  --sidemenu-collapsible-collapse-button-hover-background-color: #646464;       // (--dim-color)
  --sidemenu-collapsible-collapse-button-active-background-color: #505050;      // (--dim-color-shade-2)
  --sidemenu-collapsible-collapse-button-color: #F2F2F2;
  --sidemenu-title-background-color: #646464;                                   // (--dim-color)

  /* Tooltip */
  --tooltip-font-color: #4F5C78;                                                // (--secondary-contrast-text-color)
}
